@model smsproject.ViewModel.UsersVM
@{
	ViewBag.Title = "Create Data";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<div class="row">
		@using (Html.BeginForm("Save", "Users"))
		{
			<div class="form-group">
				@Html.LabelFor(u=> u.Users.Name)
				@Html.TextBoxFor(u=>u.Users.Name, new { @class = "form-control"})
			</div>

			
			<div class="form-group">
				@Html.LabelFor(u=> u.Users.age)
				@Html.TextBoxFor(u=>u.Users.age, new { @class = "form-control"})
			</div>

			<div class="form-group">
				@Html.LabelFor(u=> u.Users.Address)
				@Html.TextBoxFor(u=>u.Users.Address, new { @class = "form-control"})
			</div>
			<div class="form-group">
				@Html.LabelFor(u=> u.Users.EmailAddress)
				@Html.TextBoxFor(u=>u.Users.EmailAddress, new { @class = "form-control"})
			</div>

			@Html.HiddenFor(u => u.Users.Id)

			<div class="form-group">
				<button class="btn btn-success">Save</button>
			</div>
		}
	</div>
</div>

