@model smsproject.ViewModel.UsersVM
@{
	ViewBag.Title = "Edit Data";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<div class="row">
		@using (Html.BeginForm("Save", "Users"))
		{
			<div class="form-group">
				@Html.LabelFor(u=> u.Users.Name)
				@Html.TextBoxFor(u=>u.Users.Name, new { @class = "form-control"})
			</div>

			
			<div class="form-group">
				@Html.LabelFor(u=> u.Users.age)
				@Html.TextBoxFor(u=>u.Users.age, new { @class = "form-control"})
			</div>

			<div class="form-group">
				@Html.LabelFor(u=> u.Users.Address)
				@Html.TextBoxFor(u=>u.Users.Address, new { @class = "form-control"})
			</div>
			<div class="form-group">
				@Html.LabelFor(u=> u.Users.EmailAddress)
				@Html.TextBoxFor(u=>u.Users.EmailAddress, new { @class = "form-control"})
			</div>
			<div class="form-group">
				@Html.LabelFor(u=> u.Users.OfficesId)
				@Html.DropDownListFor(d => d.Users.OfficesId, new SelectList(Model.OfficesList, "Id", "Name"), "Select Department", new { @class = "form-control", @style = "font-size: 14px; padding: 10px 0;" })

			</div>

			
			<div class="form-group">
				@Html.LabelFor(u=> u.Users.DivisionsId)
				@Html.DropDownListFor(d => d.Users.DivisionsId, new SelectList(Model.DivisionsList, "Id", "Name"), "Select Divisions", new { @class = "form-control", @style = "font-size: 14px; padding: 10px 0;" })

			</div>

			@Html.HiddenFor(u => u.Users.Id)

			<div class="form-group">
				<button class="btn btn-success">Save</button>
			</div>
		}
	</div>
</div>