@model smsproject.ViewModel.UsersVM
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="container">
	<div class="row">
		<table class="table table-striped">
			<thead>
			<th>
				Id
			</th>
			<th>Name</th>
			<th>
				Address
			</th>
			<th>
				DateAdded
			</th>
			<th>
				Age
			</th>
			<th>
				EmailAddress
			</th>
			<th>
				Action
			</th>
			</thead>
			<tbody>
			@foreach (var user in Model.UserList)
			{
				<tr>
					<td>@user.Id</td>
					<td>@user.Name</td>
					<td>@user.Address</td>
					<td>@user.DateAdded</td>
					<td>@user.age</td>
					<td>@user.EmailAddress</td>
					<td>@Html.ActionLink("Edit","Edit", new {id=user.Id})</td>
					<td>@Html.ActionLink("Delete","Delete", new {id=user.Id})</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
</div>